@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 1230;
    padding: 0 30px;
    margin: 0 auto;
}
.size img{
    height: 200px;
    width: 200px;
}
