@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 1230;
    padding: 0 30px;
    margin: 0 auto;
}
.verfy .clear{
    background: rgba(248,248,248,.9);
 
}
.verfy .login{
    background: rgba(255,255,255,.9);
 
}
.verfy .login .box{
    color: #333;
}

.verfy .end{
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}
